body{
    text-align: center;
    background: rgb(38, 38, 38);
    color: red;
    font-weight: bold;
}
img{
    height: 400px;
}
h2{
    font-size: 35px;
    margin: 20px;
}
h1{
    font-size: 60px;
    margin: 20px;
    margin-top: 100px;
}
p{
    font-size: 20px;
    color: white;
}
input{
    height: 20px;
    width: 15%;
    border-radius: 10px;
}
button{
    border-radius: 10px;
    height: 30px;
    width: 15%;
    font-weight: bold;
}